<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="robot"/>
  <arg name="model" default="model_depth_camera"/>
  <arg name="xcoordinate" default="0.0"/>
  <arg name="ycoordinate" default="0.0"/>
  <arg name="zcoordinate" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <param name="tf_prefix" type="string" value="$(arg robot_name)"/>

  <!-- SPAWN robot model on gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" respawn="false" name="spawn_model"
        args="-file $(find pioneer3at_description)/sdf/$(arg model).sdf -sdf -x $(arg xcoordinate) -y $(arg ycoordinate) -z $(arg zcoordinate) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name)"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find pioneer3at_description)/urdf/pioneer3at_depth_ros.urdf"/> 
  <!-- <param name="robot_description" command="$(find xacro)/xacro inorder $(find pioneer3at_description)/urdf/pioneer3at_ros.urdf"/> -->

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True"/>
  </node> 

  <!-- Combine joint values -->
  <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="log">
      <remap from="joint_states" to="/$(arg robot_name)/joint_states"/>
      <remap from="robot_description" to="/$(arg robot_name)/robot_description"/>
      <param name="publish_frequency" type="double" value="20"/>
      <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
  </node>  

  <!-- Publishing tf_static between earth and robot/map. -->
  <node name="earth_to_map_tf_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 earth $(arg robot_name)/map 40"/> 

</launch>
