<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="robot"/>
  <arg name="model" default="model_depth_camera"/>
  <arg name="xcoordinate" default="0.0"/>
  <arg name="ycoordinate" default="0.0"/>
  <arg name="zcoordinate" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
<!--
  <param name="base_footprint_frame" type="string" value="$(arg robot_name)/base_footprint" />
  <param name="world_frame" type="string" value="world" />
-->

  <!-- SPAWN robot model on gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" respawn="false" name="spawn_model"
        args="-file $(find pioneer3at_description)/sdf/$(arg model).sdf -sdf -x $(arg xcoordinate) -y $(arg ycoordinate) -z $(arg zcoordinate) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name)"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find pioneer3at_description)/urdf/pioneer3at_ros.urdf"/> 
  <!--<param name="robot_description" textfile="$(find pioneer3at_description)/urdf/pioneer3at_ros.urdf"/> -->

  <!-- Combine joint values -->
  <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="log">
      <remap from="joint_states" to="/$(arg robot_name)/joint_states"/>
      <remap from="robot_description" to="/$(arg robot_name)/robot_description"/>
      <param name="publish_frequency" type="double" value="100"/>
      <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
  </node>  

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node> 

   <!-- Publishing tf_static between earth and robot/map. -->
   <node name="earth_to_map_tf_broadcaster" pkg="tf" type="static_transform_publisher"  
  	  args="0 0 0 0 0 0 earth $(arg robot_name)/map 100"/> 

   <!-- Publishing tf_static between earth and robot/odom. 
   <node name="earth_to_map_tf_broadcaster" pkg="tf" type="static_transform_publisher"  
  	  args="0 0 0 0 0 0 earth $(arg robot_name)/odom 100"/> -->

   <!-- Publishing tf_static between camera_link and depth_camera. -->
   <node name="tf_static_depth_link" pkg="tf" type="static_transform_publisher"  
          args="0 0 0 -1.58 0 -1.58 /$(arg robot_name)/camera_link $(arg robot_name)/depth_link 100"/>


 
    <!-- Publishing tf_static for included models. 
    <node name="tf_static_hokuyo_link" pkg="tf" type="static_transform_publisher" 
          args="0 0 0 0 0 0 $(arg robot_name)/hokuyo_link  $(arg robot_name)/hokuyo::hokuyo_link 100"/>

    <node name="tf_static_camera_link" pkg="tf" type="static_transform_publisher" 
          args="0 0 0 0 0 0 $(arg robot_name)/camera_link $(arg robot_name)/camera::camera_link 100"/>-->

    <!-- Publishing tf_static between odom and base_link. 
    <node name="tf_static_odom_base" pkg="tf" type="static_transform_publisher"
  	  args="0 0 0 0 0 0 $(arg robot_name)/odom $(arg robot_name)/base_link 100"/> -->

</launch>
