<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="robot"/>
  <arg name="model" default="model_depth_camera"/>
  <arg name="xcoordinate" default="0.0"/>
  <arg name="ycoordinate" default="0.0"/>
  <arg name="zcoordinate" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!-- Make robot_description and run robot_state_publisher --> 
  <include file="$(find pioneer3at_description)/launch/make_robot_description_and_call_state_publisher_pioneer3at.launch">
    <arg name="robot_name"  value="$(arg robot_name)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="xcoordinate" value="$(arg xcoordinate)"/>
    <arg name="ycoordinate" value="$(arg ycoordinate)"/>
    <arg name="zcoordinate" value="$(arg zcoordinate)"/>
    <arg name="roll" value="$(arg roll)"/>
    <arg name="pitch" value="$(arg pitch)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include> 

  <!-- Navigation (move_base) --> 
  <include file="$(find pioneer3at_navigation)/launch/move_base.launch">
    <arg name="robot_name" default="$(arg robot_name)"/>
    <arg name="no_static_map" value="true"/>
    
    <!-- Parameters for the controller -->
    <arg name="max_vel" value="0.7" />
    <arg name="min_vel" value="-0.7" />
    <arg name="max_ang_vel" value="2.4" />
  </include>

  <!-- LAUNCH MAPPING -->
  <include file="$(find pioneer3at_slam)/launch/rtab_slam2.launch">	<!-- rtab_slam, hector_slam, octomap_mapping, mapping -->
    <arg name="robot_name"    value="$(arg robot_name)"/>
    <arg name="localization"  value="true"/>
    <arg name="rtabmapviz"    value="false"/>
  </include>   

</launch>
