<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="pioneer3at"/>

  <arg name="first_robot"  default="pioneer3at_1"/>
  <arg name="second_robot" default="pioneer3at_2"/>
  <!--<arg name="third_robot"  default="pioneer3at_3"/>-->

  <arg name="first_robot_x_pos" default=" 0.0"/>
  <arg name="first_robot_y_pos" default=" 0.0"/>
  <arg name="first_robot_z_pos" default=" 0.0"/>
  <arg name="first_robot_yaw"   default=" 0.0"/>

  <arg name="second_robot_x_pos" default="0.0"/>
  <arg name="second_robot_y_pos" default="0.0"/>
  <arg name="second_robot_z_pos" default=" 0.0"/>
  <arg name="second_robot_yaw"   default=" 0.0"/> 

  <!--<arg name="third_robot_x_pos" default=" 0.5"/>
  <arg name="third_robot_y_pos" default=" 3.0"/>
  <arg name="third_robot_z_pos" default=" 0.0"/>
  <arg name="third_robot_yaw"   default=" 0.0"/>-->

  <group ns="$(arg first_robot)/map_merge">
    <param name="init_pose_x"   value="$(arg first_robot_x_pos)"/>
    <param name="init_pose_y"   value="$(arg first_robot_y_pos)"/>
    <param name="init_pose_z"   value="$(arg first_robot_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg first_robot_yaw)"  />
  </group>

  <group ns="$(arg second_robot)/map_merge">
    <param name="init_pose_x"   value="$(arg second_robot_x_pos)"/>
    <param name="init_pose_y"   value="$(arg second_robot_y_pos)"/>
    <param name="init_pose_z"   value="$(arg second_robot_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg second_robot_yaw)"  />
  </group>

  <!--<group ns="$(arg third_robot)/map_merge">
    <param name="init_pose_x"   value="$(arg third_robot_x_pos)"/>
    <param name="init_pose_y"   value="$(arg third_robot_y_pos)"/>
    <param name="init_pose_z"   value="$(arg third_robot_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg third_robot_yaw)"  />
  </group>-->

  <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge_node" output="log">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value="$(arg namespace)"/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="earth"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>

  <!--<node name="origint_to_worldmap_tf_broadcaster" pkg="tf" type="static_transform_publisher"  args="-5 0 0 0 0 0 origin map 1"/> -->

<!--
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg first_robot)_tf_broadcaster" 
        args="0 0 0 0 0 0 /map /$(arg first_robot)/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg second_robot)_tf_broadcaster" 
     	args="0 0 0 0 0 0 /map /$(arg second_robot)/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg third_robot)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg third_robot)/map 100"/> -->
</launch>

<!-- http://wiki.ros.org/multirobot_map_merge -->
