<?xml version="1.0"?>

<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find usar_gazebo)/worlds/post-disaster.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Include MYROBOT 
  <include file="$(find myrobot_description)/launch/myrobot.launch">
    <arg name="robot_name" value="myrobot"/>
    <arg name="xcoordinate" value="5.0"/>
    <arg name="ycoordinate" value="0.0"/>
    <arg name="zcoordinate" value="2.0"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="0.0"/>
  </include>-->

  <!-- Launch Pioneer2DX 1--> 
  <group ns="pioneer2dx_1">
    <include file="$(find pioneer2dx_ros)/launch/pioneer2dx.launch">
      <arg name="robot_name" value="pioneer2dx_1"/>
      <arg name="xcoordinate" value="20.0"/>
      <arg name="ycoordinate" value="-30.0"/>
      <arg name="zcoordinate" value="1.3"/>
      <arg name="roll" value="0.0"/>
      <arg name="pitch" value="0.0"/>
      <arg name="yaw" value="1.57"/>
    </include>
  </group>

  <!-- Launch Pioneer2DX 2--> 
  <group ns="pioneer2dx_2">
    <include file="$(find pioneer2dx_ros)/launch/pioneer2dx.launch">
      <arg name="robot_name" value="pioneer2dx_2"/>
      <arg name="xcoordinate" value="19.0"/>
      <arg name="ycoordinate" value="-30.0"/>
      <arg name="zcoordinate" value="1.3"/>
      <arg name="roll" value="0.0"/>
      <arg name="pitch" value="0.0"/>
      <arg name="yaw" value="1.57"/>
    </include>
  </group>

  <!-- Launch Pioneer3AT 1 -->
  <group ns="pioneer3at_1">
    <include file="$(find pioneer3at_ros)/launch/pioneer3at.launch">
      <arg name="robot_name" value="pioneer3at_1"/>
      <arg name="xcoordinate" value="22.0"/>
      <arg name="ycoordinate" value="-30.0"/>
      <arg name="zcoordinate" value="1.3"/>
      <arg name="roll" value="0.0"/>
      <arg name="pitch" value="0.0"/>
      <arg name="yaw" value="1.57"/>
    </include>
  </group> 

  <!-- Launch Pioneer3AT 2 -->
  <group ns="pioneer3at_2">
    <include file="$(find pioneer3at_ros)/launch/pioneer3at.launch">
      <arg name="robot_name" value="pioneer3at_2"/>
      <arg name="xcoordinate" value="23.0"/>
      <arg name="ycoordinate" value="-30.0"/>
      <arg name="zcoordinate" value="1.3"/>
      <arg name="roll" value="0.0"/>
      <arg name="pitch" value="0.0"/>
      <arg name="yaw" value="1.57"/>
    </include>
  </group>

  <!-- Spawn simulated quadrotor uav 1 -->
  <group ns="UAV_1">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
      <arg name="name" default="UAV_1"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
    	  controller/position
    	  controller/velocity
    	  controller/attitude
          "/>
      <arg name="x" default="22.0"/>
      <arg name="y" default="-32.0"/>
      <arg name="z" default="1.3"/> 
    </include>
  </group>

  <!-- Spawn simulated quadrotor uav 2 -->
  <group ns="UAV_2">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
      <arg name="name" default="UAV_2"/>
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
      <arg name="controllers" value="
    	  controller/position
    	  controller/velocity
    	  controller/attitude
          "/>
      <arg name="x" default="21.0"/>
      <arg name="y" default="-32.0"/>
      <arg name="z" default="1.3"/> 
    </include>
  </group>

</launch>
