<?xml version="1.0"?>

<launch>
   <arg name="move_topic" default="move_base/status"/>
   <arg name="publish_rate" default="1.0"/>

   <param name="move_topic" value="$(arg move_topic)"/>
   <param name="publish_rate" value="$(arg publish_rate)"/>
   <node name="battery_monitor" pkg="payloads" type="battery_monitor.py" output="log"/>
</launch>	
