<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="robot"/>
  <arg name="xcoordinate" default="0.0"/>
  <arg name="ycoordinate" default="0.0"/>
  <arg name="zcoordinate" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!-- Make robot_description and run robot_state_publisher --> 
  <include file="$(find pioneer3at_ros)/launch/make_robot_description_and_call_state_publisher_pioneer2dx.launch">
    <arg name="robot_name"  value="$(arg robot_name)"/>
    <arg name="xcoordinate" value="$(arg xcoordinate)"/>
    <arg name="ycoordinate" value="$(arg ycoordinate)"/>
    <arg name="zcoordinate" value="$(arg zcoordinate)"/>
    <arg name="roll" value="$(arg roll)"/>
    <arg name="pitch" value="$(arg pitch)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include> 

  <!-- Parameters for the position controller -->
  <param name="max_speed" value="2.2" />
  <param name="max_ang_speed" value="6" />
  <param name="robot_name" value="$(arg robot_name)" />
  <node pkg="controllers" type="motion_controller.py" name="motion_controller" output='log'/>

  <!-- LAUNCH MAPPING -->
  <include file="$(find slam)/launch/hector_slam.launch">
    <arg name="robot_name"  default="$(arg robot_name)"/>
    <arg name="map_frame"  value="$(arg robot_name)/map"/>
    <arg name="base_frame"  value="$(arg robot_name)/base_link"/>
    <arg name="odom_frame"  value="$(arg robot_name)/odom"/>
    <arg name="scan_topic"  value="/$(arg robot_name)/scan" />
  </include> 

</launch>
